body {
  background-image: url('https://www.bgafotobutik.se/upload/Posters/Bilder_Malimi_Posters/Varldskarta-Guldliknande.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
